.itembill {
  background-color: rgb(61, 61, 61);
  padding: 10px 10px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.itembill .nametotal{
  display: flex;
}

.itembill .total {
  background-color: white;
  color: black;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.itembill .name {
  justify-self: left;
  /* width: 100%; */
  padding: 0px 5px;
}
