.menu {
  height: 100%;
  width: 60%;
}

.menu .searchbar {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}

.menu .menu__category {
  display: flex;
  overflow: auto;
}

.menu__category .category__item {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 10rem !important;
  height: 10rem !important;
  padding: 1rem;
  background-color: grey;
  border-radius: 1rem;
  margin: 1rem 0.5rem;
}

.item__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu .menu__items {
  width: 100%;
  overflow: auto;
  height: fit-content;
  max-height: 65%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu__items .items__item {
  border: 1px solid gray;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 10rem !important;
  height: 10rem !important;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

.items__item .counter {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.counter i {
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid grey;
}

.counter i:hover {
  background-color: grey;
  color: black;
}

.counter span {
  margin: 0 5px;
}

.bill__menu {
  height: 100%;
  width: 20%;
  margin: 1rem 1rem;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
}

.bill__menu .customer__name{
  display: flex;
  justify-content: space-between;
}

.bill__menu .order{
  max-height: 50%;
  overflow: auto;
}

.order .itembill{
  background-color: rgb(61, 61, 61);
  padding: 10px 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.itembill .nametotal{
  display: flex;
  flex-direction: row;
}

.nametotal .total{
  background-color: white;
  color: black;
  border-radius: 5rem;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 5px;
}

.bill__menu .totalbill {
  margin-top: auto;
  background-color: rgb(61, 61, 61);
  padding: 20px 0;
  height: 30%;
}

.totalbill .calculate{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculate .subtotal {
  display: flex;
  justify-content: space-between;
}

.calculate .dashed-line {
  margin: 15px 0px;
  border-top: 2px dashed grey;
}

.totalbill .place_order{
  background-color: grey;
  width: auto;
  border-radius: 1rem;
  text-align: center;
  margin: 0 15px;
  padding: 5px 0px;
}
