.menu {
  width: 50rem;
  height: auto;
}

.menu .searchbar {
  padding: 0.5rem 2rem;
  margin: 25px 5px;
  margin-bottom: 15px !important;
  width: 20rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
}

.menu .menu__category {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  width: 800px;
  overflow-x: auto;
}

.menu__category .category__item {
  flex-shrink: 0;
  color: black;
  background-color: rgb(201, 201, 201);
  width: 140px;
  height: 130px;
  border-radius: 1rem;
  margin: 5px;
  padding: 15px;
}

.category__item .item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category__item .category__icon {
  font-size: 25px;
}

.menu .line {
  border-color: rgb(150, 150, 150);
  margin: 20px 0px;
}

.menu .menu__items {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  overflow: auto;
}

.menu__items .items__item {
  background-color: rgb(90, 90, 90);
  width: 140px;
  height: 130px;
  border-radius: 1rem;
  margin: 5px;
  padding: 15px;
}

.items__item .item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.item__content .counter {
  font-size: 15px;
  align-self: flex-end;
}

.counter span {
  margin: 0px 10px;
}

.counter i {
  border: 2px grey solid;
  border-radius: 0.5rem;
  align-content: center;
  padding: 3px 5px;
}

.counter i:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
}

.bill__menu {
  height: auto;
  width: 30rem;
}

.bill__menu .wrap__bill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38rem;
}

.itembill {
  background-color: rgb(61, 61, 61);
  padding: 10px 10px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.itembill .nametotal {
  display: flex;
}

.itembill .total {
  background-color: white;
  color: black;
  border-radius: 5rem;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.itembill .name {
  justify-self: left;
  padding: 0px 5px;
}

.wrap__bill .order {
  overflow: auto;
  height: 20rem;
  -ms-overflow-style: none;
}

.wrap__bill .order::-webkit-scrollbar {
  display: none;
}

.wrap__bill .totalbill {
  border-radius: 0.5rem;
  height: 25rem;
  padding: 20px 15px;
  margin: 10px 10px;
  background-color: rgb(61, 61, 61);
  padding-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculate .subtotal {
  display: flex;
  justify-content: space-between;
}

.calculate .dashed-line {
  margin: 15px 0px;
  border-top: 2px dashed white;
}

.totalbill .place_order{
  background-color: grey;
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0px;
}

/* Responsive */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .menu {
    height: auto;
  }

  .menu .searchbar {
    width: 10rem;
    height: 1rem;
  }

  .menu .menu__category {
    width: 30rem;
  }

  .menu__category .category__item {
    width: 70px;
    height: 50px;
    font-size: 10px;
    margin: 3px;
  }

  .category__item .category__icon {
    font-size: 10px;
  }

  .menu .line {
    margin: 5px 5px;
  }

  .menu .menu__items {
    height: 14rem;
  }

  .menu__items .items__item {
    width: 70px;
    height: 70px;
    font-size: 10px;
    margin: 3px;
  }

  .item__content .counter {
    font-size: 10px;
  }

  .counter span {
    margin: 0px 5px;
  }

  .counter i {
    padding: 1px 2px;
  }

  .bill__menu {
    width: 30rem;
    font-size: 10px;
  }

  .itembill {
    padding: 5px 5px;
    margin: 5px 10px;
  }

  .itembill .total {
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape){
  .menu .menu__category {
    width: 25rem;
  }
  .menu .menu__items {
    height: 11rem;
  }
}
