.navside {
  height: 100%;
  width: 15%;
}

.nav h2{
  text-align: center;
  margin: 1rem 2rem;
}

.nav ul li{
  margin: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: large;
}

.nav ul li:hover{
  background-color: grey;
}

