:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #242424;
}

body {
  background-color: var(--primary-color);
  color: #ffffff;
  margin: 0px !important;
  padding: 0px !important;
}

.layout__container {
  display: flex;
  flex-direction: row;
  height: 99vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
