.items__item {
  border: 1px solid gray;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 6rem !important;
  height: 6rem !important;
  padding: 0.3rem 0.4rem;
  font-size: 0.85rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

.item__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter {
  margin-top: 0.3rem;
  display: flex;
  justify-content: flex-end;
}

.counter i {
  border-radius: 5px;
  padding: 0rem 0.1rem;
  border: 1px solid grey;
  cursor: pointer;
}

.counter i:hover {
  background-color: grey;
  color: black;
}

.counter span {
  margin: 0 5px;
}
